<div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-8"
       style="background-image: url('assets/img/bg6.jpg');"></div>
  <div class="container">
    <div class="content-center">
      <h1 class="title">Fotogallerie</h1>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h5
      class="description">Sie sind auf der Suche nach einer bestimmten Frisur? Oder suchen einfach nur Inspiration für ihren nächsten Haarschnitt? Schauen Sie sich in unserer Gallerie um und falls Ihnen etwas gefällt, kontaktieren Sie uns.</h5>
    <div class="row">
      <div class="col-md-12">
        <h4 class="title text-center">Unsere Frisurengallerie</h4>
        <app-gallery-tab></app-gallery-tab>
      </div>
    </div>
  </div>
</div>