<div class="card-deck">
    <div class="row card-row" *ngFor="let range of rangeOptions; let odd=odd; let even=even;">
        <div class="col-4 image image-left">
            <img class="card-img-top img-raised" src="{{range.image}}" alt="{{range.header}}">
        </div>
        <div class="card col-8">
            <div class="card-body">
                <div class="card-title" [id]="range.links">{{ range.header }}</div>
                <p class="card-text">{{ range.text }}</p>
                <ul *ngFor="let leistungen of range.list">
                    <li>{{leistungen}}</li>
                </ul>
                <a routerLink="/gallerie" class="btn btn-primary">{{range.linkText}}</a>
            </div>
        </div>
    </div>
</div>

