<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
         style="background-image: url('assets/img/bg6.jpg');"></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Kontakt</h1>
      </div>
    </div>
  </div>
  <div class="contactus-1 section-image section">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="info info-horizontal">
            <div class="description">
              <h4 class="info-title"><i class="now-ui-icons location_pin"></i>Besuchen Sie uns im Salon</h4>
              <p class="description"> Mehrower Allee 18 <br> 12687 Berlin <br> <br> Plaza Marzahn <br> 1. OG <br>
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="description">
              <h4 class="info-title"><i class="now-ui-icons tech_mobile"></i>Rufen Sie uns an!</h4>
              <p class="description"> Friseur Grenz<br> Tel.: 030 9378605 <br> Montag - Freitag <br> 9 .00 - 19.00 <br>
                <br> Samstag <br> 8.00 - 14.00 <br>
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h4 class="info-title">Kontaktieren Sie uns.</h4>
          <p
            class="description">Sie haben Fragen oder wollen einen Termin anfragen, bitte schreiben Sie uns eine Nachricht</p>
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <h2 class="text-center">So erreichen Sie uns</h2>
  <div class="container">
    <h4 class="description col-12">
      Sie erreichen uns über die S-Bahn Station Mehrower Allee in wenigen Laufminuten.
      Sollten Sie mit Auto anreisen, finden Sie in der Nähe gebührenfreie Parkplätze, auch ein Parkhaus steht zur Verfügung.
      Unser Salon befindet sich im ersten Stock der Mehrower Allee Passagen.
      Sie erreichen diesen über eine Treppe oder den Fahrstuhl von dort aus laufen Sie rechts.
    </h4>
    <div> Ich werde eine Map!</div>
  </div>
</div>