<section class="full">
    <div class="fg-contact-page">
        <h1 class="fg-headline">So erreichen Sie uns</h1>
        <div class="row fg-contact-page-cards">
            <div class="col-5 offset-1">
                <p class="fg-copy fg-contact-page-copy">
                    Unser Salon befindet sich im ersten Stock der Mehrower Allee Passagen. <br>
                    <br>
                    Sie erreichen diesen über eine Treppe oder den Fahrstuhl von dort aus laufen Sie rechts. <br>
                    <br>
                    Sie erreichen uns über die S-Bahn Station Mehrower Allee in wenigen Laufminuten.<br>
                    <br>
                    Sollten Sie mit Auto anreisen, finden Sie in der Nähe gebührenfreie Parkplätze, auch ein
                    Parkhaus<br>
                    steht zur Verfügung.
                </p>
            </div>
            <div class="col-5">
                <p class="fg-copy">
                </p>
            </div>
        </div>
        <div class="col-8 offset-2">
        </div>
    </div>
</section>