<div class="col-12 rellax">
  <ngb-carousel #carousel activeId="">
    <ng-template ngbSlide>
      <img class="d-block" src="assets/img/gallery/teaser-1.jpg" alt="First slide">
      <div class="carousel-caption">
        <h1 class="title">Willkommen auf unserer Webseite</h1>
        <br>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="d-block"  src="assets/img/gallery/teaser-1.jpg"  alt="Second slide">
      <div class="carousel-caption">
        <h1 class="title">Mittwoch ist Färbetag!</h1>
        <h4>Jeden Mittwoch könnt ihr beim Färben sparen!</h4>
        <br>
        <h6>Rufe uns an und vereinbare jetzt einen Termin</h6>
        <h4>030 / 9378605</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="d-block" src="assets/img/gallery/teaser-1.jpg"  alt="Third slide">
      <div class="carousel-caption">
        <h1 class="title">Donnerstag ist Seniorentag!</h1>
        <h4>Jeden Donnerstag sparen unsere Senioren!</h4>
        <br>
      </div>
    </ng-template>
  </ngb-carousel>
</div>