@import '~assets/sass/now-ui-kit/variables';

.info-hover {
  &:hover {
    color: blue;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.phone-number {
  a {
    font-size: 20px;
    font-weight: 600;
    color: white;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.info {
  cursor: pointer;
}

.section-thin {
  margin-top: 50px;
}

img {
  height: 150px;
  width: 150px;
}

h4 {
  font-size: 1.5em;
}