<div class="text-center">
    <div class="features">
        <div class="row">
            <div class="col-md-2 offset-1">
                <div class="info info-hover">
                    <div class="icon">
                        <img src="./assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                    </div>
                    <h4 class="info-title">Free Chat</h4>
                    <p class="description">Divide details about your product or agency work into parts. Write a few
                        lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <div class="icon">
                        <img src="./assets/img/avatar.jpg" alt="Rounded Image" class="rounded">

                    </div>
                    <h4 class="info-title">Verified Users</h4>
                    <p class="description">Divide details about your product or agency work into parts. Write a few
                        lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <div class="icon">
                        <img src="./assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                    </div>
                    <h4 class="info-title">Fingerprint</h4>
                    <p class="description">Divide details about your product or agency work into parts. Write a few
                        lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <div class="icon">
                        <img src="./assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                    </div>
                    <h4 class="info-title">Fingerprint</h4>
                    <p class="description">Divide details about your product or agency work into parts. Write a few
                        lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <div class="icon">
                        <img src="./assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                    </div>
                    <h4 class="info-title">Fingerprint</h4>
                    <p class="description">Divide details about your product or agency work into parts. Write a few
                        lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-thin">
    <div class="alert alert-warning">
        <div class="container">
            <div class="text-center">
      <span class="phone-number">
        <a href="tel:+49309378605">
            <i class="now-ui-icons tech_mobile"></i>030/9378605</a>
      </span>
                <h2>Neugierig geworden?</h2>
                <p>Rufen Sie uns jetzt unter <b>030 9378605</b> und vereinbaren Sie noch heute einen Termin mit uns!</p>
            </div>
        </div>
    </div>
</div>