@import '~assets/sass/now-ui-kit/variables';

.info-hover {
 &:hover {
   color: blue;
 }
}

.phone-number {
  a {
    font-size: 20px;
    font-weight: 600;
    color: white;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.section-thin {
  margin-top: 50px;
}