<div class="text-center">
    <div class="features">
        <div class="row">
            <div class="col-md-2 offset-1">
                <div class="info info-hover">
                    <a routerLink="/leistungen">
                        <div class="icon">
                            <img src="./assets/img/leistungen/haarschnitt.png" alt="Kurzhaarschnitt eines Mannes"
                                 class="rounded">
                        </div>
                        <h4 class="info-title">Haarschnitte</h4>
                        <p class="description">Ob kurz, ob lang – wir verpassen dir den perfekten Haarschnitt. Komm
                            vorbei
                            und lass dich beraten!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <a routerLink="/leistungen" fragment="farbe">
                        <div class="icon">
                            <img src="./assets/img/leistungen/farbe.png" alt="Frau mit roten Haaren" class="rounded">
                        </div>
                        <h4 class="info-title">Haarfarben</h4>
                        <p class="description">Auf der Suche nach einer neuen, vielleicht sogar ausgefallenen Haarfarbe?
                            Hier wirst du fündig!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <a routerLink="/leistungen">
                        <div class="icon">
                            <img src="./assets/img/leistungen/straehnen.png" alt="Frau mit bunten Strähnen"
                                 class="rounded">
                        </div>
                        <h4 class="info-title">Strähnen-Technik</h4>
                        <p class="description">Ob Folientechniken, Strähnen mit dem Colorboard, wir finden garantiert
                            die
                            richtigen Strähnen für dich.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <a routerLink="/leistungen">
                        <div class="icon">
                            <img src="./assets/img/leistungen/umformung.png" alt="Frau mit Dauerwelle" class="rounded">
                        </div>
                        <h4 class="info-title">Umformung</h4>
                        <p class="description">Volumen im Haar oder ganz klassisch eine Dauerwelle, wir machen es
                            möglich.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info info-hover">
                    <a routerLink="/leistungen" fragment="lang">
                        <div class="icon">
                            <img src="./assets/img/leistungen/verlaengerung.png" alt="2 Strähnen einer Verlängerung"
                                 class="rounded">
                        </div>
                        <h4 class="info-title">Haarverlängerung</h4>
                        <p class="description">Von kurz auf ganz lang – die Haarverlängerung mit dem Original von Great
                            Length
                            verhilft dir zu langem Haar.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-thin">
    <div class="alert alert-warning">
        <div class="container">
            <div class="text-center">
      <span class="phone-number">
        <a href="tel:+49309378605">
            <i class="now-ui-icons tech_mobile"></i>030/9378605</a>
      </span>
                <h2>Neugierig geworden?</h2>
                <p>Rufen Sie uns jetzt unter <b>030 9378605</b> und vereinbaren Sie noch heute einen Termin mit uns!
                </p>
            </div>
        </div>
    </div>
</div>
