<div class="wrapper">
  <div class="page-header clear-filter">
    <app-slider></app-slider>
  </div>

  <div class="main">
    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <h2>Friseur Grenz | Ihr Familienfriseur</h2>
          <p>Ich begrüße Sie sehr herzlich im Friseursalon Grenz. Sie finden uns in der Plaza Marzahn, Mehrower Allee 18 in 12687 Berlin. Wir sind schon seit mehr als 20 Jahren für Sie da.</p>
        </div>
      </div>
    </div>
  </div>
</div>