<div class="wrapper index-page">
    <div class="page-header clear-filter">
        <app-slider></app-slider>
    </div>

    <div class="main">
        <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <h2>Friseur Grenz | Ihr Familienfriseur</h2>
                    <p>Ich begrüße Euch sehr herzlich im Friseursalon Grenz. Ihr findet uns in der Plaza Marzahn,
                        Mehrower Allee 18 in 12687 Berlin und das schon seit mehr als 20 Jahren.</p>
                </div>
            </div>
        </div>
        <div class="section section-range">
            <app-home-range></app-home-range>
        </div>
        <div class="section section-hub">
            <app-open-contact-map-hub></app-open-contact-map-hub>
        </div>
    </div>
</div>