<div class="section">

</div>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto"></div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">News</h2>
    </div>

    <div class="container news-container">
      <div class="card card-plain card-blog">
        <div class="row">
          <div class="col-md-5">
            <div class="card-header card-header-image">
              <a href="#pablito"> <img class="img" src="./assets/img/city.jpg"> </a>
              <div class="colored-shadow"
                   style="background-image: url(&quot;./assets/img/examples/card-blog4.jpg&quot;); opacity: 1;"></div>
            </div>
          </div>
          <div class="col-md-7">
            <h6 class="card-category text-info">Allgemeine Infos</h6>
            <h3 class="card-title">
              <a href="#pablo">Der Fade Undercut</a>
            </h3>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sapien et turpis sollicitudin porta. Curabitur quam nisi, lobortis a ligula eget, hendrerit condimentum felis. Aenean sed tortor ullamcorper, fringilla lacus ac, finibus velit. Etiam elementum erat in turpis rutrum consequat. Donec euismod in nibh vel volutpat. Pellentesque dignissim id nisl sed egestas. Nulla maximus ullamcorper turpis, sed aliquam magna luctus cursus. Nulla facilisi.
              <a href="#pablo"> Weiterlesen </a>
            </p>
            <p class="author">
              von <a href="/team"> <b>Katrin Grenz</b> </a>, vor 2 Tagen </p>
          </div>
        </div>
      </div>
      <div class="card card-plain card-blog">
        <div class="row">
          <div class="col-md-7">
            <h6 class="card-category text-danger">
              <i class="material-icons">trending_up</i> Frisurtrends </h6>
            <h3 class="card-title">
              <a href="#pablo">Unsere Sommerfrisuren</a>
            </h3>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sapien et turpis sollicitudin porta. Curabitur quam nisi, lobortis a ligula eget, hendrerit condimentum felis. Aenean sed tortor ullamcorper, fringilla lacus ac, finibus velit. Etiam elementum erat in turpis rutrum consequat. Donec euismod in nibh vel volutpat. Pellentesque dignissim id nisl sed egestas. Nulla maximus ullamcorper turpis, sed aliquam magna luctus cursus. Nulla facilisi.
              <a href="#pablo"> Weiterlesen </a>
            </p>
            <p class="author">
              von <a href="/team"> <b>Katrin Grenz</b> </a>, vor 2 Tagen </p>
          </div>
          <div class="col-md-5">
            <div class="card-header card-header-image">
              <img class="img img-raised" src="./assets/img/city.jpg">
              <div class="colored-shadow"
                   style="background-image: url(&quot;./assets/img/office2.jpg&quot;); opacity: 1;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>