<div class="card card-plain card-blog">
  <div class="row card-wrapper" *ngFor="let news of newsEntries">
    <div class="col-md-3" >
      <div class="card-image">
        <img class="img img-raised rounded-circle" src="{{news.image}}" width="200px" height="200px">
      </div>
    </div>
    <div class="col-md-9">
      <h6 class="category text-{{news.icon}} mt-3">{{news.topic}}</h6>
      <h3 class="card-title">{{news.title}} </h3>
      <p class="card-description">{{news.text}}</p>
      <p class="author">
        von <a href="/team"><b>{{news.author}}</b></a>, {{news.date}}</p>
    </div>
  </div>
</div>