<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Unser Team</h1>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
              <h4 class="description">Mit unserem vielseitigen Team sind wir breit aufgestellt und bieten Ihnen gerne ausgefallene neue Schnitttechniken an sowie Altbewährtes.
                <br> Gerne berät unser Team Sie über Möglichkeiten und kreiert Ihnen Ihre Wunschfrisur.</h4>
                <div class="col-md-10 ml-auto mr-auto text-center">
                  <app-team-card></app-team-card>
                </div>
            </div>
        </div>
    </div>
</div>
