@import '~assets/sass/now-ui-kit/variables';


.gallery-image {
  margin-bottom: 20px;
}

ngb-modal-window {
  .modal-dialog {

    @media (min-width: 575px) {
      max-width: 80vw;
      max-height: 80vh;
    }
  }

  .modal-content {
    background: green;
  }
}

.nav-link{

  &active {
    color: $black-bg;
  }
}