<ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
  <ngb-tab *ngFor="let tab of galleryTabs" [id]="tab.id">
    <ng-template ngbTabTitle>
      <p>{{tab.title}}</p>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="row collections">
            <div class="col-md-3" *ngFor="let image of tab.images, index as i">
              <img [src]="image" alt="" class="img-raised" (click)="open(i)">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>