<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          <i class="large material-icons center-align icon-hub">watch_later</i>
          <h6 >Unsere Öffnungszeiten</h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            <br> Montag - Freitag <br> 9 .00 - 19.00 <br> <br> Samstag <br> 8.00 - 14.00 <br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          <i class="large material-icons center-align icon-hub">store</i>
          <h6>Unsere Adresse</h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            Friseur Grenz <br> <br> Mehrower Allee 18 <br> 12687 Berlin <br> <br> Plaza Marzahn <br> 1. OG <br>
            <br> Tel.: 030 9378605 <br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          <i class="large material-icons center-align icon-hub">place</i>
          <h6>Unser Standort</h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            <app-map></app-map>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>