body {
  margin: 0;
  background-repeat: repeat-x;
  color: #fff;
  line-height: 1.5em;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.page-header {
  height:50vh;
}